.layout {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    text-align: right;
}

.message {
    display: inline-block;
    border-radius: 12px 12px 0px 12px;
    border: 2px solid var(--primary-03);
    background-color: var(--primary-03);
    padding: 12px 16px;
    color: var(--white-base);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}