.layout {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 24px;
    border-top: 1px solid var(--gray-20);
    border-bottom: 1px solid var(--gray-20);
    padding: 20px 0;
}

.message {
    display: inline-block;
    color: var(--gray-90);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-right: 36px;
}

.copyButton {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 4px;
}