:root {
    /* color */
    --gray-5: #F8F9FA;
    --gray-10: #F0F2F4;
    --gray-15: #E8EAEE;
    --gray-20: #DCDEE4;
    --gray-30: #D2D4DA;
    --gray-40: #BCBEC6;
    --gray-50: #9EA2A8;
    --gray-60: #7B7D84;
    --gray-70: #585C64;
    --gray-80: #30343C;
    --gray-90: #111319;

    --white-base: #ffffff;

    --black-base: #030303;

    --red-light: #FFE9ED;
    --red-base: #FF3D67;

    --green-light: #D7F0E2;
    --green-base: #45CC7E;

    --purple-light: #EEE5FF;
    --purple-base: #742FDD;

    --primary-light: #E4EEFF;
    --primary-03: #3B88FF;


    /* variables */
    --chat-input-area-height: 128px;
}
