.titleWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.titleIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 6px 6px 0px 6px;
    background-color: var(--primary-03);
}

.title {
    color: var(--gray-80);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.balloonWrapper {
    margin-top: 18px;
}

.queryBalloonItem:not(:last-child) {
    margin-bottom: 16px;
}

.queryBalloon {
    display: inline-block;
    padding: 12px 16px;
    border-radius: 12px 12px 12px 0px;
    background-color: var(--gray-10);
}
