.layout {
    position: relative;
}

.textArea {
    box-sizing: border-box;
    background-color: var(--white-base);
    line-height: 22px;
    color: var(--gray-80);
    padding: 17px;
    width: 100%;
    border: 1px solid var(--gray-30);
    border-radius: 4px;
    transition: border-color 0.2s ease;
    font-size: 16px;
    font-weight: 500;
    resize: none;
}

.textArea:focus {
    outline: none;
    border-color: var(--primary-03);
}

.textArea::placeholder {
    color: var(--gray-40);
    font-weight: 400;
}

.submitButton {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton:active {
    filter: brightness(85%);
}

.loadingWrapper {
    position: absolute;
    top: 3px;
    right: 0;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}