.layout {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 32px;
}

.chatLayer {
    display: flex;
    flex-direction: column-reverse;
    overflow-anchor: auto!important;
    height: calc(100% - var(--chat-input-area-height));
    overflow-y: auto;
    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollInnerWrapper {
    margin: 80px auto 0 auto;
    padding-bottom: 30px;
    width: 100%;
}

.copyRight {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-50);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
}

.greeting {
    margin-top: 56px;
    color: var(--gray-80);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.purpose {
    margin: 72px 0 32px 0;
    color: var(--gray-70);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.chatArea {
    margin-top: 64px;
}

.bottom {
    box-sizing: border-box;
    margin: 0 auto;
    height: var(--chat-input-area-height);
}