.layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 6px;
    background-color: #F0F2F4;
    border-radius: 18px 18px 0px 18px;
}

.modelButton {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #ffffff;
    border-radius: 12px 12px 0px 12px;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    border: 2px solid #ffffff;
}