.layout {
    margin-top: 12px;
}

.urlWrapper {
    margin-bottom: 12px;
    border: solid 1.5px #3B88FF;
    border-radius: 12px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.urlWrapper:last-child {
    margin-bottom: 0;
}

.thumbnailWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
