.layout {
    position: relative;
}

.textArea {
    box-sizing: border-box;
    background-color: #ffffff;
    line-height: 20px;
    color: #30343C;
    padding: 22px 24px;
    width: 100%;
    border: 1px solid #DCDEE4;
    border-radius: 4px;
    transition: border-color 0.2s ease;
    font-size: 14px;
    font-weight: 600;
    resize: none;
}

.textArea:focus {
    outline: none;
    border-color: #3B88FF;
}

.textArea::placeholder {
    color: #BCBEC6;
    font-weight: 400;
}

.submitButton {
    position: absolute;
    top: 11px;
    right: 12px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton:active {
    filter: brightness(85%);
}

.loadingWrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}